* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}


header {
    border-top: 1px solid black;
}

h1 {
    display: inline-block;
    line-height: 50px;
    vertical-align: bottom;
   
}

section, div {
    margin-top:10px;
}


.container {
    background-color: lightgrey;
    height: 675px;
    padding-top: 50px;
    
}

.container-2 {
    width: 80%;
    height: 550px;
    margin: auto;
    border-radius:5px;
    background-color: white
}

.container-3 {
    padding: 10px 0 0 50px;
}
.add {
    border-bottom: 4px solid lightgrey;
    
    padding: 20px 0px 10px 50px;
}

.bottone-1 {
    color: white;
    background-color: rgb(59, 191, 235);
    border-radius: 5px;
    padding: 5px 10px;
}

.bottone-2 {
    color: grey;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.uni{
    vertical-align: middle;
}

.badge {
    display: inline-block;
    
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
}

.blue {
    background-color: rgb(59, 191, 235);
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: hotpink;
}

.yellow {
    background-color: lightgreen;
}